<% sleep 1 %>
<ul>
  <%- post.comments.each do |comment| -%>
    <li>
      <%= comment.text %>
      <%= suspense(partial: "comment_date", locals: { comment: comment }) do %>
        (loading date...)
      <% end %>
    </li>
  <% end %>
</ul>
